In [2]:
# Homework 9 by Team 17
import pandas as pd
from datetime import datetime
# Read-in three datasets
student = pd.read_excel('Student.xlsx',index_col=None)
tutor = pd. read_excel('Tutor.xlsx',index_col=None)
match = pd.read_excel('Match_History.xlsx',index_col=None)

In [3]:
#Question1
dropped = tutor[(tutor['TutorStatus']=='Dropped')&(tutor['CertDate']>'2018-04-01')]
print('#Question1:Which tutors have a Dropped status and have achieved their certification after 4/01/2018?')
print(dropped)

#Question1:Which tutors have a Dropped status and have achieved their certification after 4/01/2018?
   TutorID   CertDate TutorStatus
7      107 2018-05-01     Dropped

In [4]:
#Question2
today = datetime.today()   # current date
match.fillna(today,inplace=True)
difference = match['EndDate']-match['StartDate']    # length of time
mean1 = difference.mean()
print('#Question2:What is the average length of time a student stayed (or has stayed) in the program? ')
print(mean1)

#Question2:What is the average length of time a student stayed (or has stayed) in the program?
318 days 00:37:21.685953

In [5]:
#Question3
tempStudent = pd.merge(match,tutor,on='TutorID')    # All the matches happened in 2018
print(tempStudent)

   MatchID  TutorID  StudentID  StartDate                    EndDate  \
0        1      100       3000 2018-01-10 2019-12-06 13:14:43.371907
1        8      100       3001 2018-05-28 2019-12-06 13:14:43.371907
2        2      101       3001 2018-01-15 2018-05-15 00:00:00.000000
3        3      102       3002 2018-02-10 2018-03-01 00:00:00.000000
4        4      106       3003 2018-05-28 2019-12-06 13:14:43.371907
5        5      103       3004 2018-06-01 2018-06-15 00:00:00.000000
6        6      104       3005 2018-06-01 2018-06-28 00:00:00.000000
7        7      104       3006 2018-06-01 2019-12-06 13:14:43.371907

    CertDate TutorStatus
0 2018-01-05      Active
1 2018-01-05      Active
2 2018-01-05   Temp Stop
3 2018-01-05     Dropped
4 2018-05-22      Active
5 2018-05-22      Active
6 2018-05-22      Active
7 2018-05-22      Active

In [10]:
tempMatch = tempStudent[(tempStudent['TutorStatus']=='Temp Stop')]
tempMatch 
tempMatch['StudentID']

2    3001
Name: StudentID, dtype: int64

In [6]:
tempMatch = tempStudent[(tempStudent['TutorStatus']=='Temp Stop')]
print('#Question3:Identify all students who have been matched in 2018 with a tutor whose status is Temp Stop. ')
mylist3 = tempMatch['StudentID'].tolist()
print(mylist3)

#Question3:Identify all students who have been matched in 2018 with a tutor whose status is Temp Stop.
[3001]

In [5]:
#Question4
readScore = pd.merge(tempStudent, student,on='StudentID',how = 'outer')
dropStudent = readScore[(readScore['TutorStatus']=='Dropped')]
mylist4 = dropStudent["ReadScore"].tolist()
print('#Question4:List the Read scores of students who were ever taught by tutors whose status is Dropped.')
print(mylist4)

#Question4:List the Read scores of students who were ever taught by tutors whose status is Dropped.
[1.3]

In [11]:
readScore = pd.merge(tempStudent, student,on='StudentID',how = 'outer')
readScore

,MatchID,TutorID,StudentID,StartDate,EndDate,CertDate,TutorStatus,StudentGroup,ReadScore
0,1.0,100.0,3000,2018-01-10,2019-12-06 13:14:43.371907,2018-01-05,Active,3,2.3
1,8.0,100.0,3001,2018-05-28,2019-12-06 13:14:43.371907,2018-01-05,Active,2,5.6
2,2.0,101.0,3001,2018-01-15,2018-05-15 00:00:00.000000,2018-01-05,Temp Stop,2,5.6
3,3.0,102.0,3002,2018-02-10,2018-03-01 00:00:00.000000,2018-01-05,Dropped,3,1.3
4,4.0,106.0,3003,2018-05-28,2019-12-06 13:14:43.371907,2018-05-22,Active,1,3.3
5,5.0,103.0,3004,2018-06-01,2018-06-15 00:00:00.000000,2018-05-22,Active,2,2.7
6,6.0,104.0,3005,2018-06-01,2018-06-28 00:00:00.000000,2018-05-22,Active,4,4.8
7,7.0,104.0,3006,2018-06-01,2019-12-06 13:14:43.371907,2018-05-22,Active,3,7.8
8,NaN,NaN,3007,NaT,NaT,NaT,NaN,4,1.5

In [13]:
dropStudent =readScore[(readScore['TutorStatus']=='Dropped')]
dropStudent

,MatchID,TutorID,StudentID,StartDate,EndDate,CertDate,TutorStatus,StudentGroup,ReadScore
3,3.0,102.0,3002,2018-02-10,2018-03-01,2018-01-05,Dropped,3,1.3

In [15]:
dropStudent ['ReadScore'].tolist()

[1.3]

In [6]:
#Question5
tutor_2 = match.groupby(['TutorID'])['StudentID'].count()
dict1 = tutor_2.to_dict()
print('#Question5:List the tutors who taught two or more students.')
for key,value in dict1.items():
    if value >=2:
        print(key,value)

#Question5:List the tutors who taught two or more students.
100 2
104 2

In [19]:
match['StudentID'].groupby(match['TutorID']).count()

TutorID
100    2
101    1
102    1
103    1
104    2
106    1
Name: StudentID, dtype: int64

In [7]:
#Question6
allStudent =  pd.merge(match,student, on='StudentID')
studentsAll = pd.merge(allStudent, tutor, on='TutorID')
columns = ['StudentID', 'ReadScore', 'TutorID', 'TutorStatus']
data6 = pd.DataFrame(studentsAll, columns=columns)
print('#Question6')
print(data6)
writer = pd.ExcelWriter("Student_Tutor.xlsx")   # Store all the information
data6.to_excel(writer, 'Sheet1')
writer.save()

#Question6
   StudentID  ReadScore  TutorID TutorStatus
0       3000        2.3      100      Active
1       3001        5.6      100      Active
2       3001        5.6      101   Temp Stop
3       3002        1.3      102     Dropped
4       3003        3.3      106      Active
5       3004        2.7      103      Active
6       3005        4.8      104      Active
7       3006        7.8      104      Active

In [20]:
readScore

,MatchID,TutorID,StudentID,StartDate,EndDate,CertDate,TutorStatus,StudentGroup,ReadScore
0,1.0,100.0,3000,2018-01-10,2019-12-06 13:14:43.371907,2018-01-05,Active,3,2.3
1,8.0,100.0,3001,2018-05-28,2019-12-06 13:14:43.371907,2018-01-05,Active,2,5.6
2,2.0,101.0,3001,2018-01-15,2018-05-15 00:00:00.000000,2018-01-05,Temp Stop,2,5.6
3,3.0,102.0,3002,2018-02-10,2018-03-01 00:00:00.000000,2018-01-05,Dropped,3,1.3
4,4.0,106.0,3003,2018-05-28,2019-12-06 13:14:43.371907,2018-05-22,Active,1,3.3
5,5.0,103.0,3004,2018-06-01,2018-06-15 00:00:00.000000,2018-05-22,Active,2,2.7
6,6.0,104.0,3005,2018-06-01,2018-06-28 00:00:00.000000,2018-05-22,Active,4,4.8
7,7.0,104.0,3006,2018-06-01,2019-12-06 13:14:43.371907,2018-05-22,Active,3,7.8
8,NaN,NaN,3007,NaT,NaT,NaT,NaN,4,1.5

In [27]:
columns = ['StudentID', 'ReadScore', 'TutorID', 'TutorStatus']
data6=pd.DataFrame(readScore, columns=columns)
data6.to_excel

<bound method NDFrame.to_excel of    StudentID  ReadScore  TutorID TutorStatus
0       3000        2.3    100.0      Active
1       3001        5.6    100.0      Active
2       3001        5.6    101.0   Temp Stop
3       3002        1.3    102.0     Dropped
4       3003        3.3    106.0      Active
5       3004        2.7    103.0      Active
6       3005        4.8    104.0      Active
7       3006        7.8    104.0      Active
8       3007        1.5      NaN         NaN>

In [8]:
#Question7
student_Group = readScore.groupby(['StudentGroup'])['TutorID'].count()
print('#Question7:For each student group, list the number of tutors who have been matched with that group.')
print(student_Group)

#Question7:For each student group, list the number of tutors who have been matched with that group.
StudentGroup
1    1
2    3
3    3
4    1
Name: TutorID, dtype: int64

In [28]:
readScore['TutorID'].groupby(readScore['StudentGroup']).count()

StudentGroup
1    1
2    3
3    3
4    1
Name: TutorID, dtype: int64

In [9]:
#Question8
readScore['StartDate']=pd.to_datetime(readScore['StartDate'])
readScore['Month']=readScore['StartDate'].dt.month
data8=readScore[(readScore['Month'].isin ([5,6]))&(readScore['EndDate']>='06/30/2018')]   # who are still active
print('#Question8:List all active students who started in May and June. ')
mylist8=data8['StudentID'].values
print(mylist8)

#Question8:List all active students who started in May and June.
[3001 3003 3006]

In [29]:
pd.to_datetime(readScore['StartDate'])

0   2018-01-10
1   2018-05-28
2   2018-01-15
3   2018-02-10
4   2018-05-28
5   2018-06-01
6   2018-06-01
7   2018-06-01
8          NaT
Name: StartDate, dtype: datetime64[ns]

In [30]:
readScore['StartDate'].dt.month

0    1.0
1    5.0
2    1.0
3    2.0
4    5.0
5    6.0
6    6.0
7    6.0
8    NaN
Name: StartDate, dtype: float64

In [11]:
#Question9
allStudent=pd.merge(match,student,how='outer')
#print(allStudent)
noTutor=allStudent[allStudent['TutorID'].isnull()]
print('#Question9:Find students who have not been tutored yet. The StudentID is')
mylist9=noTutor['StudentID'].tolist()
print(mylist9)

#Question9:Find students who have not been tutored yet. The StudentID is
[3007]

In [13]:
#Question10
allTutor=pd.merge(match,tutor,how='outer')
#print(allTutor)
noStudent=allTutor[allTutor['StudentID'].isnull()]
print('#Question10:Find tutors who did not tutor any students. Those TutorIDs are ')
mylist10=noStudent['TutorID'].tolist()
print(mylist10)

#Question10:Find tutors who did not tutor any students. Those TutorIDs are
[105, 107]